<a href="https://twitter.com/theta_positive/">Follow Me on Twitter</a><br/>
Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9772342513376923"
     data-ad-slot="6343492290"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
