// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

.adsense {
  padding: 25px;
}

.post {
  .twitter-tweet.twitter-tweet-rendered {
    margin: auto;
  }

  .meta {
    width: 240px;

    @media screen and (max-width: 620px) {
      width: auto;
    }
  }
}

.footer-ad {
  margin: 20px 0;
}

#content article.post {
  overflow: hidden;

  blockquote {
    background: #fff;
    text-align: center;
    padding: 15px 0;
    border: none;
    margin: 0;

    p {
      font-size: 24px;
      font-weight: 900;
      font-style: italic;
    }
  }

}
