// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";
$green: rgb(0, 176, 84);
$light-green: rgb(220, 253, 216);
$medium-green: rgb(86, 229, 69);

.adsense {
  padding: 25px;
}

.post {
  .twitter-tweet.twitter-tweet-rendered {
    margin: auto;
  }

  .meta {
    width: 240px;

    @media screen and (max-width: 620px) {
      width: auto;
    }
  }
}

.pl {
  &.loss {
    color: red;
  }
  &.profit {
    color: rgb(8, 160, 23);
  }
}

.footer-ad {
  margin: 20px 0;
}

#content article.post {
  overflow: hidden;

  blockquote {
    background: #fff;
    text-align: center;
    padding: 15px 0;
    border: none;
    margin: 0;

    p {
      font-size: 24px;
      font-weight: 900;
      font-style: italic;
    }
  }
}

#main-nav {
  margin: 0;
  padding: 10px;
  width: 100%;
  z-index: 999;
}

.unavailable {
  // display: none ! important;
}

.headhesive {
  position: fixed;                   /* fix the element */
  top: 0;                            /* make sure it's at the top */
  transform: translateY(-100%);      /* move it off screen */
  transition: all 300ms ease-in-out; /* add animation */
}

.headhesive--stick {
  transform: translateY(0%); /* move it back on screen */
  background: #fff;
  box-shadow: 0 1px 3px #ccc;
}

.center {
  text-align: center;
}

article .entry-content p.title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;

  a.book-image {
    margin-top: 15px;
    text-decoration: none;
    border-bottom: 0;
    display: block;
    text-align: center;
  }

  a.fancybox {
    margin-bottom: -15px;
    display: block;
  }
}

.subscribe-button {
  margin: auto;
  text-align: center;

  button {
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
    background-color: $green;
    background: $green;
    font-family: "Georgia";
    font-size: 20px;
    color: #FFF;
    margin: 10px auto;
    cursor: pointer;
  }
}

.mailchimp-modal-container {
  &.hidden {
    display: none;
  }

  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  z-index: 9999;

  .mailchimp-container {
    border-radius: 10px;
    background: #fff;
    margin-top: 100px;
    max-width: 360px;
    width: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);

    #mc_embed_signup {
      background: none;
      font-family: "Georgia";

      input {
        font-size: 14px;
      }

      label {
        color: $green;
      }

      input[name="subscribe"] {
        background-color: $green;
        background: $green;
        border-radius: 10px;
        height: auto;
        padding: 5px 25px;
        font-size: 16px;
        font-family: "Georgia";
      }
    }

    .close-button-container {
      position: relative;
      display: block;
    }

    .close-button {
      img {
        width: 20px;
        height: 20px;
        padding: 5px;
      }

      z-index:9999;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }

    div.clear {
      text-align: center;
    }
  }
}

#content.inner {
}

body {
  box-sizing: border-box;

  @media screen and (max-width: 1040px) {
    margin: 0;
    padding: 0 20px;
  }

  .legal {
    font-size: 10px;
  }
}

body#blog-body {
  font-family: "Georgia";
  font-weight: 200;
  color: #4b4b4b;

  .entry-content table {
    th, td {
      padding: 5px 15px;
      text-align: center;
    }

    th {
      background: $medium-green;
    }

    tr {
      background: $light-green;
      &:nth-child(even) {
        background: #fff;
      }
    }
  }

  p {
    line-height: 28px;
  }

  @media screen and (max-width: 600px){
		font-size: 15px;
	}

  td {

  }
}
